/* Global Styles
------------------------------ */
html{
    box-sizing: border-box;
    font-size: 10;

}

html, body{
    height: 100%;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    background:rgba(186, 222, 222);;
    font-size: 1.3rem;
    line-height: 1.4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

main{
    padding: 2%;
}

h1{
    font-family: "Anton SC", sans-serif;
    text-shadow: 3px 5px 3px white;
    font-weight: 400;
    margin: 0;
}

h2{
    font-family: "Oswald", sans-serif;
    margin: 0;
}

a{
    color:#4A3267;
}

a:hover{
    color: #DE638A;
    text-decoration: none;
}

.content-wrapper{
    background: rgba(186, 222, 222, 0.5);
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

@media screen and (max-width:650px) {
    .content-wrapper{
        padding: 10px;
    }
}
.btn{
    background: #4A3267;
    color: #F3D9E5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}

.download-link{
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1rem;
}

@media screen and (max-width:1200px) {
    .download-link{
        position: absolute;
    }
}

@media screen and (max-width:500px){
    .resume header::before{
        height: 200px;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.4rem;
    }

}
.resume-section{
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom: 2px dashed black;
}

/* Page Header
------------------------------ */
.resume{
    background-size: cover;
}

.resume header::before{
    padding: 0;
    background: url(../images/annie-spratt-unsplash.jpg) center / cover;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

/* Navbar
------------------------------ */

#navbar{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    color: white;
    right: 20px;
    text-transform: uppercase;
}

@media screen and (max-width:1200px) {
    #navbar{
        position: absolute;
    }
}

#nav{
    display: flex;
    justify-content: flex-end;

}
#nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
}

#nav li{
    margin: 0;
    list-style-type: none;
    float: right;
    width: auto;
    text-align: center;
    background-color: #4A3267;
    position: relative;
    border-radius: 7px;

}

#nav a{
    display: block;
    width: 130px;
    text-align: center;
    color: white;
}

#nav li ul{
    position: absolute;
    top: 100%;
    left: -999em;
    
}

#nav li:hover ul{
    left:auto;
    
}

#nav li ul li:hover{
    background-color:#F3D9E5;
    color: #4A3267;
    
}

#nav li ul li a:hover{
    color: #4A3267;
}



/* Projects
------------------------------ */

.project-item{
    margin:30px 0;
}
.project-item img{
    width: 300px;

}

@media screen and (min-width:860px){
    .project-item{
        display: flow-root;
    }

    .project-item img{
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width:650px) and (max-width:859px){
    .project-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .project-item img{
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .project-item img{
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Work Experience
------------------------------ */
.work-item{
    margin:30px 0 ;

}

.work-details p, h3{
    margin: 0;
}



@media screen and (min-width 860px){
    .work-item{
        display: grid;
        grid-template-columns: 300px 1ft;
        column-gap: 20px;
    }

    .work-summary p:first-child{
        margin-top: 0;
    }
}

/* Footer
------------------------------ */
footer{
    background: rgba(150, 230, 220, 0.7);
    padding: 1%;
}

.socials{
    list-style-type: none;
    padding: 0%;
}

.socials li{
    display: inline-block;
    margin-left: 10px;
}

.socials img{
    width: 40px;
}

.socials img:hover{
    opacity: 0.5;
}

@media screen and (min-width:860px){
    footer{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px){
    footer{
        text-align: center;
        padding: 10px;
    }
}

